
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 24px;
    gap: 24px;
    width: 375px;
    border: 1px dotted blue;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    width: 327px;
    height: 409px;
    border: 1px dotted red;
    
   
}

.title {
    width: 327px;
    height: 101px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    
    display: flex;
    align-items: center;
    
    color: #172B4D;
  
}

.description {
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
}

.connect {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #7F8CFF;
}

.social-media-icons {
    padding: 0 24px;
    margin-top: 15px;
    list-style: none;
  }
  
  .social-media-icons img {
    margin-right: 15px;
  }
  
 .social-media-icons li {
    list-style-type: none;
    display: inline;
  }

.action-button {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396DF2;
  padding: 12px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  background-color: #fff;
}

.skillset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 327px;
  height: 464.15px;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 327px;
  height: 320.15px;

}
 
.languages-heading { 
  width: 327px;
  display: flex;
  justify-content: space-between;
  padding: 12px ;
}

.language-title {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.chevron-button {
    background-color:  #fff;
    border: 1px ;
}

.chevron {
    background: #E7EAEF;
}

.language-list {
align-items: center;
padding: 12px;
gap: 12px;

width: 327px;
height: 248.15px;

}

.language-list li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 66.72px;
  gap: 12px;
  background: #F7F7F9;
  margin: 12px 0;
}
.lanaguage-icon {
}

.language-name {
  height: 24px;
  left: 76px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #253858;
}

.frameworks,
.skills {
  width: 327px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DFE1E6;;
  padding: 18px 0;
}   

.frameworks-title,
.skills-title {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
} 

.action-button:hover {
color: #fff;
background-color: #396DF2;
}