* {
  margin: 0;
  padding: 0;
}

.contact-form {
  border-radius: 5em 0 0 0;
  width: 375px;
  height: 779px;
  top: 5410px;
  padding: 114px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6070ff;
  background-image: url(../Img/contact-form-shapes.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 20%;
}

.contact-form .form-header {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-form .form-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 2em 0;
  color: #ebebff;
}

form {
  width: 100%;
  display: grid;
}

form > input,
textarea {
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #396df2;
}

form > button {
  width: fit-content;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 0.5em 1em #4053fc3d;
  color: #fff;
}

button:active {
  background: #2230d2;
  color: #fff;
}

button:disabled,
button[disabled] {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}
