*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Projects {
  background-color: #e5e5e5;
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;

  /* position: absolute; */
  width: 375px;
  height: 2788px;

  /* left: 0px; */
  top: 718px;
}

.Projects .Card-Works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Card-Works .Snapshot {
  width: 295px;
  height: 220px;
}

.Card-Works .info-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* padding: 0px; */
  gap: 12px;
  width: 295px;
  height: 288px;
}

.project-title {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.frame {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 32px;
}

.client {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.details {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags li {
  list-style-type: none;
  display: inline;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.see-project {
  display: flex;
  padding: 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
}

form {
  padding: 2em 1em;
  display: grid;
}

form > input,
textarea {
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid #396df2;
}

form > button {
  width: fit-content;
}
