*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #e5e5e5;
/* display: flex;
flex-direction: column;
align-items: center;
padding: 114px 24px;
gap: 88px; */
}

.Card-Works { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.Snapshot {
  width: 295px;
  height: 220px;

}
.project-title {
  width: 295px;
  height: 36px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172B4D;
}

.frame {
  display: flex;
  align-items: center;
  gap: 12px;  
  height: 32px;
}

.client {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.counter {

}   

.role {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
} 

.year {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7A869A;    
}   

.details {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563; 
}   

.tags li {
  list-style-type: none;
  display: inline;
  padding: 4px 12px;
  background: #EBEBFF;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070FF;
} 

.see-project {
  padding: 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070FF;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396DF2;
}